@charset "utf-8";

/* 공통 영역 */
section {
  width: 100%;
  height: 1080px;
  padding: 200px 0;
  box-sizing: border-box;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

.korean {
  font-family: 'Noto Sans KR', sans-serif;
}

/* 페이저 영역 */
.pager {
  position: fixed;
  top: 50%;
  right: 90px;
  transform: translateY(-50%);
  z-index: 999;
}

.pager ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pager ul li:hover {
  opacity: 0.5;
}

.pager ul li.active span {
  background-color: #faff00;
}

.pager ul li.active p {
  color: #faff00;
}

.pager ul li span {
  display: inline-block;
  width: 2.5px;
  height: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin-right: 15px;
}

.pager ul li p {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

/* intro 영역 */
.intro,
.outro {
  background-color: #1a1a1e;
  color: #fff;
}

.intro .inner,
.outro .inner {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;
}

.intro-title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.intro-sub {
  color: #faff00;
}

.contects {
  color: #faff00;
  margin-bottom: 15px;
}

.tel {
  margin-bottom: 8px;
}

/* about-me 영역 */
.about-me .inner {
  display: flex;
  justify-content: space-between;
}

.profile-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 60px;
}

.txt-top {
  font-size: 1.125rem;
}

.profile-txt h2 {
  font-size: 2rem;
  margin-bottom: 60px;
}

.profile-txt span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #1a1a1e;
  margin-bottom: 30px;
}

.txt {
  font-size: 1.125rem;
  margin-bottom: 30px;
}

.txt-3 {
  margin-bottom: 0;
}

.right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.right h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.right p {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.right p:last-child {
  margin-bottom: 0;
}

.right span {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  color: #6a6a6a;
  margin-bottom: 10px;
}

.right-top {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 180px; */
}

.about-box {
  margin-right: 100px;
}

.skill-img-wrap {
  display: flex;
  margin-bottom: 30px;
}

.skill-img {
  width: 85px;
  margin-right: 40px;
}

.jquery {
  width: 270px;
}

.jquery img {
  object-fit: contain;
}

/* redesign 영역 (공통) */
.redesign {
  position: relative;
}

.redesign h4 {
  font-size: 7.5rem;
  font-weight: 700;
  color: #fff;
  margin-left: -10px;
  margin-bottom: 30px;
}

.redesign span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 30px;
}

.redesign p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

/* redesign-1 영역 */
.redesign-1 {
  background-color: #a33d4a;
}

.redesign-1 h4 {
  position: relative;
  z-index: 99;
}

.mardi-img {
  width: 570px;
  position: absolute;
  top: 133px;
  left: 948px;
  z-index: 9;
}

/* part 영역 (공통) */
.part .inner {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.part-l {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-right: 120px;
}

.mockup-img {
  width: 680px;
  margin-bottom: 50px;
}

.btn {
  display: inline-block;
  width: 180px;
  height: 60px;
  border: 2px solid #1a1a1e;
  text-align: center;
  line-height: 60px;
  margin-right: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  transition: 0.5s;
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.part-r h4 {
  font-size: 4.5rem;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 60px;
}

.part-r span {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.part-r p {
  font-size: 1.375rem;
  margin-bottom: 40px;
}

.keyword {
  display: flex;
}

.keyword p {
  margin-right: 20px;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #1a1a1e;
  margin-right: 15px;
}

/* mardi-mercredi 영역 */
.mardi-mercredi .color-1 {
  background-color: #fe0002;
}

.mardi-mercredi .color-2 {
  background-color: #fff;
  border: 1px solid #1a1a1e;
}

.mardi-mercredi .color-3 {
  background-color: #1a1a1e;
}

.mardi-mercredi .color-4 {
  background-color: #ededed;
  border: 1px solid #1a1a1e;
}

/* redesign-2 영역 */
.redesign-2 {
  background-color: #0f96ce;
}

.blue-img {
  width: 178px;
  position: absolute;
  top: 437px;
  left: 1382px;
}

/* blue-bottle 영역 */
.blue-bottle .color-1 {
  background-color: #0f96ce;
}

.blue-bottle .color-2 {
  background-color: #fff;
  border: 1px solid #1a1a1e
}

.blue-bottle .color-3 {
  background-color: #444;
}

.blue-bottle .color-4 {
  background-color: #c4c4c4;
}

/* redesign-3 영역 */
.redesign-3 {
  background-color: #f7eeec;
}

.redesign-3 h4 {
  color: #1a1a1e;
}

.redesign-3 span {
  background-color: #1a1a1e;
}

.redesign-3 p {
  color: #1a1a1e;
}

.diptyque-img {
  width: 400px;
  position: absolute;
  top: 380px;
  left: 1160px;
}

/* diptyque 영역 */
.diptyque .color-1 {
  background-color: #f7eeec;
  border: 1px solid #1a1a1e;
}

.diptyque .color-2 {
  background-color: #fff;
  border: 1px solid #1a1a1e;
}

.diptyque .color-3 {
  background-color: #1a1a1e;
}

.diptyque .color-4 {
  background-color: #6a6a6a;
}

/* outro 영역 */
.outro {
  background: #1a1a1e;
}

.outro .intro-top {
  margin-bottom: 120px;
}

.outro-last {
  font-size: 0.875rem;
  font-weight: 500;
  color: #6a6a6a;
  line-height: 1.4;
}